<div class="over_top_header">
  <a class="navbar-brand" href="#" (click)="changeLanguage()">
    <img src="{{flagButton}}" alt="flag">
  </a>
</div>
<!--Header-->
<div class="top_header">
  <a id="page_logo">{{languageText.Logo}}</a>
  <div class="top_header_button_parrent">
    <a class="button_link" href="#" >{{languageText.World}}</a>
    <a class="button_link" href="#">{{languageText.Business}}</a>
    <a class="button_link" href="#">{{languageText.Sport}}</a>
    <a class="button_link" href="#">{{languageText.Crypto}}</a>
    <select  class="button_link" id="news_select" (change)="selectNews($event)">
      <option value="" disabled selected hidden>{{languageText.All_news}}</option>
      <option value="cnn">CNN</option>
      <option value="al-jazeera-english">Al-Jazeera</option>
      <option value="fox-news">Fox News</option>
      <option value="abc-news">Abc News</option>
      <option value="independent">Independent</option>
      <option value="rt">RT</option>
    </select>
  </div>
</div>

<!--Top News-->
<div class="container" style="margin-top: 1em; margin-right: 3em; margin-bottom: 3em">

  <div class="card-deck" style="float: right; margin-left: 10px">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h6>{{languageText.In_focus}}</h6>
      </div>
      <img class="card-img-top" src="{{listOfTopNews[5].urlToImage}}" onerror=" src ='https://www.health.com/img/icons/missing-image-16x9.svg'" alt="">
      <div class="card-body">
        <a href="{{listOfTopNews[5].url}}">
          <h6 class="card-title">{{listOfTopNews[5].title}}</h6>
        </a>
      </div>
      <div *ngFor="let news of listOfNews; let i = index">
        <div class="card-group" *ngIf="i>5 && i<10 "  style="margin-left: 3px">
          <small>
            <a href="{{news.url}}">{{news.title}}</a> <br>
            <hr style="margin-bottom: 4px; margin-top: 4px">
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck" style="float: right">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h6>{{languageText.Top_news}}</h6>
      </div>
      <img class="card-img-top" src="{{listOfTopNews[1].urlToImage}}" onerror=" src ='https://www.health.com/img/icons/missing-image-16x9.svg'" alt="">
      <div class="card-body">
        <a href="{{listOfTopNews[1].url}}">
          <h6 class="card-title">{{listOfTopNews[1].title}}</h6>
        </a>
      </div>
      <div *ngFor="let news of listOfTopNews; let i = index">
        <div class="card-group" *ngIf="1<i && i<6"  style="margin-left: 3px">
          <small>
            <a href="{{news.url}}">{{news.title}}</a> <br>
            <hr style="margin-bottom: 4px; margin-top: 4px">
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Big picture-->
  <div class="main_top_news_card">
    <p style="width: 600px; margin-left: 1.5em" class="top_news_title">
      <a href={{listOfTopNews[0].url}}>
        {{listOfTopNews[0].title}}
      </a>
    </p>
    <div class="main_top_photo">
      <img src={{listOfTopNews[0].urlToImage}} alt="">
    </div>
    <div id="main_top_news_description">
      <p>
        {{listOfTopNews[0].description}}
      </p>
      <hr>
      <br>
    </div>

    <!--Middle news card-->
    <div style="margin-top: 5em; margin-right: 3em;">
      <hr>
    </div>
    <div class="card-deck" style=" margin-left: 2em">
      <div *ngFor="let news of listOfNews;">
        <div class="card" style="width: 18rem; margin-top: 4em; margin-left: 1em; float: right">
          <img class="card-img-top" src="{{news.urlToImage}}" onerror=" src ='https://www.health.com/img/icons/missing-image-16x9.svg'" alt="no">
          <div class="card-body">
            <a href="{{news.url}}">
              <h6 class="card-title">{{news.title}}</h6>
            </a>
            <p class="card-text">{{news.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

