/*header area*/
.over_top_header{
  margin-top: -1px;
  margin-bottom: 1px;
  margin-left: 1em;
}
.over_top_header .button_link{
  color: black;
}
.top_header{
  background-color: black;
  margin-left: -1em;
  margin-right: -1em;
  padding-top: 5px;
  padding-bottom: 10px;
  overflow: auto;
}
.top_header .button_link{
  font-style: initial;
  color: white;
  margin-left: 2em;
}
.top_header #news_select{
  color: black;
}
.top_header_button_parrent{
  float: right;
  margin-right: 3em;
}
.button_link {
  text-decoration: none;
}
#page_logo{
  color: white;
  margin-left: 3em;
}

/*Login and Registration button*/
.over_top_header .btn {
  float: right;
  margin-top: 5px;
  margin-right: 0.5em;
}
