<div class="over_top_header">
  <a class="navbar-brand" href="#" (click)="turnLanguageToEng()">
    <img src="{{flagService.getflagUSA()}}" alt="flag">
  </a>
  <a class="navbar-brand" href="#" (click)="turnLanguageToRus()">
    <img src="{{flagService.getflagRUS()}}" alt="flag">
  </a>

  <a href="#popup1" class="btn btn-sm btn-info">Login</a>
  <a href="#popup2" class="btn btn-sm btn-danger">Registration</a>
</div>
<!--Header-->
<div class="top_header">
  <a id="page_logo">{{languageText.Logo}}</a>
  <div class="top_header_button_parrent">
    <a class="button_link" href="#">{{languageText.World}}</a>
    <a class="button_link" href="#">{{languageText.Business}}</a>
    <a class="button_link" href="#">{{languageText.Sport}}</a>
    <a class="button_link" href="#">{{languageText.Crypto}}</a>
    <select  class="button_link" id="news_select" (change)="selectNews($event)">
      <option value="" disabled selected hidden>{{languageText.All_news}}</option>
      <option value="cnn">CNN</option>
      <option value="al-jazeera-english">Al-Jazeera</option>
      <option value="fox-news">Fox News</option>
      <option value="abc-news">Abc News</option>
      <option value="independent">Independent</option>
      <option value="rt">RT</option>
    </select>
  </div>
</div>

<!--Top News-->
<div class="container" style="margin-top: 1em; margin-right: 3em; margin-bottom: 3em">

  <div class="card-deck" style="float: right; margin-left: 10px">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h6>{{languageText.In_focus}}</h6>
      </div>
      <img class="card-img-top" src="{{listOfTopNews[5].urlToImage}}" onerror=" src ='https://www.health.com/img/icons/missing-image-16x9.svg'" alt="">
      <div class="card-body">
        <!--<a href="{{listOfTopNews[5].url}}">-->
        <a href="#" (click)="openLink(listOfTopNews[5].url)">
          <h6 class="card-title">{{listOfTopNews[5].title}}</h6>
        </a>
      </div>
      <div *ngFor="let news of listOfNews; let i = index">
        <div class="card-group" *ngIf="i>5 && i<10 "  style="margin-left: 3px">
          <small>
            <a href="#" (click)="openLink(news.url)">{{news.title}}</a> <br>
            <hr style="margin-bottom: 4px; margin-top: 4px">
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck" style="float: right">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h6>{{languageText.Top_news}}</h6>
      </div>
      <img class="card-img-top" src="{{listOfTopNews[1].urlToImage}}" onerror=" src ='https://www.health.com/img/icons/missing-image-16x9.svg'" alt="">
      <div class="card-body">
        <a href="#" (click)="openLink(listOfTopNews[1].url)">
          <h6 class="card-title">{{listOfTopNews[1].title}}</h6>
        </a>
      </div>
      <div *ngFor="let news of listOfTopNews; let i = index">
        <div class="card-group" *ngIf="1<i && i<6"  style="margin-left: 3px">
          <small>
            <a href="#" (click)="openLink(news.url)">{{news.title}}</a> <br>
            <hr style="margin-bottom: 4px; margin-top: 4px">
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Big picture-->
<div class="card-deck" style=" margin-left: 2em; margin-top: -6em">
    <div class="card" style="width: 18rem; margin-top: 4em; margin-left: 1em; float: right">
      <img  class="card-img-top" src="{{listOfTopNews[0].urlToImage}}" onerror=" src ='https://www.health.com/img/icons/missing-image-16x9.svg'" alt="no">
      <div class="card-body">
        <a href="#" (click)="openLink(listOfTopNews[0].url)">
          <h6 class="card-title">{{listOfTopNews[0].title}}</h6>
        </a>
        <p class="card-text">{{listOfTopNews[0].description}}</p>
      </div>
    </div>
</div>
<br><br>
  <ng-template [ngIf]= "isUserLoggedIn()" >
    <div class="card-deck" style=" margin-left: 2em">
      <div *ngFor="let news of listOfNews;">
          <div class="card" style="width: 18rem; margin-top: 4em; margin-left: 1em; float: right" >
            <img class="card-img-top" src="{{news.urlToImage}}" onerror=" src ='https://www.health.com/img/icons/missing-image-16x9.svg'" alt="no">
            <div class="card-body">
              <a href="#" (click)="openLink(news.url)">
                <h6 class="card-title">{{news.title}}</h6>
              </a>
              <p class="card-text">{{news.description}}</p>
            </div>
        </div>
      </div>
    </div>
  </ng-template>

<ng-template [ngIf]= "!isUserLoggedIn()" >
  <div class="card-deck" style=" margin-left: 2em">
    <div *ngFor="let news of listOfNews; let i = index">
      <div *ngIf="i < 4">
        <div class="card" style="width: 18rem; margin-top: 4em; margin-left: 1em; float: right" >
          <img class="card-img-top" src="{{news.urlToImage}}" onerror=" src ='https://www.health.com/img/icons/missing-image-16x9.svg'" alt="no">
          <div class="card-body">
            <a href="#" (click)="openLink(news.url)">
              <h6 class="card-title">{{news.title}}</h6>
            </a>
            <p class="card-text">{{news.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--Login-->
<div id="popup1" class="overlay">
  <div class="popup">
    <h2>Login</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      Please log in.
      <form #loginform = "ngForm" (submit)="makeLogin(loginform.value)">
        <input type="text" name="email" placeholder="email" ngModel required>
        <br>
        <input type="password" name="password" placeholder="password" ngModel required>
        <br>
        <button class="btn btn-danger" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<!--Registration-->
<div id="popup2" class="overlay">
  <div class="popup">
    <h2>Registration</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      Please use your email for your registration. <br>
      Also make sure your password is OK ....
      <form #registrationform = "ngForm" (submit)="makeRegistration(registrationform.value)">
        <input class="text-input-dialog" type="text" name="email" placeholder="email" ngModel required>
        <br>
        <input type="password" name="password" placeholder="password" ngModel required>
        <br>
        <button class="btn btn-danger" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
